/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* typo */
h1 {
    font-size: 50px;
}

li {
    font-size: 13px;
}

h2 {
    font-weight: 300;
    font-size: 17px;
}

.fa-arrow-down-long {
    font-size: 14px;
    margin-right: 6px;
    font-weight: bold;
}
/* div conteiners */

.ext-container {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 600px;
    background-color: black;
    margin: auto;
}

.int-container, .hero-text {
    max-width: 1500px;
    margin: auto;
}

/* buttons */

.button {
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

.login {
  background-color: white;
  color: black;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 500;
}

.mac-download {
    background-color: white;
    color: black;
    padding: 10px 17px;
    font-size: 18px;
}

.browser-open {
    background-color: black;
    color: white;
    padding: 10px 17px;
    font-size: 18px;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* nav menu header */

.navigation-row {
    padding-top: 50px;
    margin: auto;
    text-align: center;
    line-height: 2;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0px 20px;
}

nav ul li {
    display: inline-block;
}

.col-logo, .col-button {
    float: left;
    width: 25%;
}

.col-links {
    width: 50%;
    float: left;
}


.hero-text {
    text-align: center;
    color: white;
    padding: 100px 370px 30px 370px;
}

.hero-title {
    margin-bottom: 35px;
}

.hero-buttons {
    text-align: center;
}